* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: none;
  /* 解决图片底部默认空白缝隙 */
  vertical-align: middle;
}

button,
input,
select,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}